<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

     <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tg_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tg_id"  class="form-control " name="tg_id" type="text" >
            <p>不填写默认发送给所有人</p>
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
                <textarea  id="c-content" data-rule="required" class="form-control" name="content" ></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
